.Centrar {
    text-align: center;
}
body {
    background-color: blue;
    border: 1px solid white;
    margin: 50px;
    padding: 50px 100px;
}
.Blanco {
    color: white;
}
img {
    width: 100%;
    height: 800px;
    
}
